/**--------------
    Dark mode
--------------**/
body {
  background-color: #181d27;
  color: #9ba5b5;
}

p, li, a, label {
  color: #aab2bf !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #ced2d9 !important;
}

:not(pre) > code[class*=language-], pre[class*=language-], .feature-card {
  background: #181d27;
  border-color: #181d27;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  background: transparent;
}
code[class*="language-"], pre[class*="language-"] {
color: #aab2bf;
}
.custom-card .card-body .note {
  background-color: rgba(255, 104, 132, 0.24);
}

.aside-menu-list ul li a.sub-topic {
  background-color: #1e2531 !important;
}

.nav-tabs {
  border-color: #181d27;
}
.nav-tabs .nav-link {
  color: #9ba5b5;
}
.nav-tabs .nav-link:hover {
  border-color: #181d27;
  color: #9ba5b5;
}
.nav-tabs .nav-link.active {
  background: #181d27;
  border-color: #181d27;
  color: #9ba5b5;
}

.aside-menu-list ul li a {
  background-color: #181d27 !important;
}

.progress {
  background-color: #181d27;
}

input {
  color: #aab2bf;
}
input::-webkit-input-placeholder {
  color: #aab2bf !important;
}
input::-moz-placeholder {
  color: #aab2bf !important;
}
input:-ms-input-placeholder {
  color: #aab2bf !important;
}
input::-ms-input-placeholder {
  color: #aab2bf !important;
}
input::placeholder {
  color: #aab2bf !important;
}

.page-item a {
  color: #aab2bf;
}

.page-item.active .page-link {
  color: #ced2d9;
}

.header {
  background-color: rgba(34, 41, 53, 0.7);
  border-color: rgba(34, 41, 53, 0.7);
}
.header .header-left .outer-ring {
  border: 1px solid #9ba5b5;
}
.header .header-left .outer-ring .inner-ring {
  background-color: #9ba5b5;
}

.custom-card .intro .auth-detail {
  background: #181d27;
}

.custom-card {
  background-color: #1e2531;
  border-color: #1e2531;
}
.custom-card .label-card .title .growth-numbers h5 {
  color: #ced2d9;
}
.custom-card .label-card .title h4 {
  color: #9ba5b5;
}
.custom-card .label-card .title .icon i {
  color: #9ba5b5;
}
.custom-card .card-header {
  border-color: #313a4b;
}
.custom-card .card-header .card-title {
  color: #ced2d9;
}
.custom-card .card-header .header-tools > a, .custom-card .card-header .header-tools .date {
  border-color: #313a4b;
  color: #9ba5b5;
}
.custom-card .card-header .header-tools > a i, .custom-card .card-header .header-tools .date i {
  color: #9ba5b5;
}
.custom-card .card-header .header-tools .dots {
  border-color: #313a4b;
  color: #9ba5b5;
}
.custom-card .card-header .header-tools .dots i {
  color: #9ba5b5;
}
.custom-card .intro .item-details {
  background-color: #181d27;
}
.dropdown .dropdown-toggle {
  border-color: #9ba5b5;
}
.dropdown .dropdown-toggle i {
  color: #9ba5b5;
}
.table > :not(caption) > * > * {
  background-color: #1e2531;
}
.single-new {
  background: #181d27;
  border: 1px solid #181d27;
}
.product .product-footer {
	border-color: #313a4b;
}
.custom-card .intro .item-details img {
  background-color: #1e2531;
  border: 1px solid #1e2531;
}
.bg-gr-1 {
	background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}
.dropdown-menu {
  background-color: #262e3d;
}
.dropdown-menu li a {
  color: #9ba5b5 !important;
}
.dropdown-menu li a:hover {
  background-color: #1e2531 !important;
}
.dropdown-menu .dropdown-item {
  color: #9ba5b5 !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #1e2531 !important;
}

[data-header-mode-tool=light] {
  background-color: rgb(255, 255, 255);
}

.daterangepicker {
  background-color: #262e3d;
}
.daterangepicker .ranges li {
  color: #9ba5b5;
}
.daterangepicker .ranges li:hover {
  background-color: #1e2531 !important;
}
.daterangepicker .ranges li.active {
  background-color: #1e2531 !important;
  color: #fff !important;
}
.daterangepicker .calendar-table {
  border-color: transparent;
  background-color: #262e3d !important;
}
.daterangepicker .calendar-table td, .daterangepicker .calendar-table th {
  color: #aab2bf;
  background-color: #262e3d !important;
}
.daterangepicker .calendar-table td span, .daterangepicker .calendar-table th span {
  border-color: #fff !important;
}
.daterangepicker .calendar-table td:hover, .daterangepicker .calendar-table th:hover {
  color: #aab2bf;
}
.daterangepicker .calendar-table td.active, .daterangepicker .calendar-table td.in-range {
  background-color: #181d27 !important;
}
.daterangepicker .drp-selected {
  color: #fff;
}
.daterangepicker .drp-buttons .btn {
  color: #fff;
}
.daterangepicker .drp-buttons {
  border-color: #313a4b;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-color: #313a4b;
}

.calendar .filler {
  background: rgba(24, 29, 39, 0.8) !important;
  border-color: transparent;
}
.calendar .event-container {
  background: rgba(24, 29, 39, 0.8) !important;
  border-color: #313a4b;
}
.calendar .event-container .close:before, .calendar .event-container .close:after {
  background-color: #fff;
}
.calendar .event-container .event, .calendar .event-container .event-date {
  color: #aab2bf;
  border-color: #313a4b;
}
.calendar tbody tr td {
  color: #aab2bf;
}
.calendar table {
  border-color: #313a4b;
}
.calendar table td {
  color: #ced2d9;
}
.calendar table th {
  color: #aab2bf !important;
}
.calendar header .simple-calendar-btn {
  border-color: #313a4b;
}
.calendar header .simple-calendar-btn:hover {
  background-color: #181d27;
}
.calendar header .month {
  color: #aab2bf;
}

.gx-map-detail .title {
  border-color: #313a4b;
}
.gx-map-detail .title h5 {
  color: #ced2d9;
}
.gx-map-detail .gx-detail-list .gx-label p {
  color: #aab2bf;
}

thead td {
  border-color: #313a4b !important;
}
thead th {
  color: #ced2d9;
}
thead tr {
  background-color: #181d27;
}

table.dataTable thead .sorting:before {
  color: #ced2d9;
}
table.dataTable td {
  border-color: #313a4b !important;
  color: #aab2bf;
}

.btn-outline-success {
  border-color: #313a4b !important;
  color: #aab2bf;
}
.btn-outline-success:hover {
  border-color: #313a4b !important;
  color: #aab2bf;
}

div.dataTables_wrapper div.dataTables_length select {
  background-color: #181d27;
  border-color: #313a4b;
  color: #aab2bf;
}
div.dataTables_wrapper div.dataTables_filter input {
  background-color: #181d27;
  border-color: #313a4b;
  color: #aab2bf;
}
div.dataTables_wrapper div.dataTables_info {
  color: #aab2bf;
}

.page-item a {
  background-color: #181d27 !important;
  border-color: #313a4b !important;
}

.todo-list .form-group span {
  color: #aab2bf;
}
.todo-list .form-group:not(:last-child) {
  border-color: #313a4b;
}

.apexcharts-canvas svg text {
  color: #aab2bf !important;
}

.apexcharts-legend-text {
  color: #aab2bf !important;
}

.apexcharts-xaxis text, .apexcharts-yaxis text {
  color: #aab2bf !important;
  fill: #aab2bf !important;
}

.card-body .gx-chart-header {
  border: 1px solid #313a4b;
}
.card-body .gx-chart-header .block h5 {
  color: #ced2d9;
}
.card-body .gx-chart-header .block h6 {
  color: #9ba5b5;
}
.card-body .gx-chart-header-2 {
  border-color: #313a4b;
}
.card-body .gx-chart-header-2 .block h5 {
  color: #ced2d9;
}
.card-body .gx-chart-header-2 .block h6 {
  color: #9ba5b5;
}

.activity-list ul li:before {
  border-color: #313a4b;
}
.activity-list ul li .date-time {
  background-color: #181d27;
}
.activity-list ul li .date-time:before {
  border-color: #313a4b;
}
.activity-list ul li .date-time .time {
  border-color: #313a4b;
  color: #aab2bf;
}
.activity-list ul li .date-time .time:before {
  background-color: #313a4b;
}
.activity-list ul li .title {
  color: #ced2d9;
}
.activity-list ul li .detail {
  color: #aab2bf;
}

.page-title .breadcrumb h5 {
  color: #ced2d9;
}
.page-title .breadcrumb ul li {
  color: #aab2bf;
}
.page-title .breadcrumb ul li a {
  color: #aab2bf;
}
input, .form-control, textarea {
  background-color: #262e3d;
  border-color: #313a4b;
  color: #9ba5b5;
}
input:focus, .form-control:focus, textarea:focus {
  background-color: #262e3d;
  color: #9ba5b5;
  border-color: #313a4b;
}
/*# sourceMappingURL=dark.css.map */